/* jetbrains-mono-regular - latin */
@font-face {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("fonts/JetBrainsMono_Nerd_Font_Mono_Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("fonts/JetBrainsMono_Nerd_Font_Mono_Italic.woff2") format("woff2");
}

body {
  font-family: "Roboto", sans-serif;
}

code {
  font-family: "JetBrainsMono Nerd Font Mono", monospace;
}
